<%- include("../../partials/header.ejs"); %>

    <%- include("../../partials/nav.ejs"); %>
    
    <div class="container" id="new">
            <div class="card">
                <div class="card-header">
                    <h2>Novo artigos</h2>
                </div>
                <div class="card-body">
                    <form class="article-form" action="/categories/save" method="POST">
                        <input class="form-control" type="text" name="title" placeholder="Título da categoria">
                        <textarea class="form-control" placeholder="Escreva o seu artigo" name="body"></textarea>
                        <button class="btn btn-success">Cadastrar</button>
                    </form>
                </div>
            </div>
    </div>

<%- include("../../partials/footer.ejs"); %>
