<header>
    <div class="container" id="nav-container"> 
        <nav class="navbar navbar-expand-lg">
            <a href="/" class="navbar-brand title-logo">CrudPress</a>
           
            <ul class="navbar-nav mr-auto menu">
                <li class="nav-item"><a href="/admin/categories" class="nav-link">Categorias</a></li>
            </ul>
            
        </nav>
    </div>
</header>

